.container-fluid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding-top: 2%;
  overflow: auto;
}

#carouselExampleIndicators {

  width:80%;
}




.texteIntro{
font-size: 30px;

text-align: justify;
}

.titleOffers{

  font-size: 20px;
    border-bottom: 2px solid grey;
  
  

}