<form class="form-group d-flex flex-column" (ngSubmit)="onSubmit()" [formGroup]="cbForm"
      style="margin-top:2%;margin-bottom: 8%">
  <div style="width: 40%; margin: auto">
    <div formGroupName="carteBancaire">
      <label>Nom </label><input type="text" class="form-control" formControlName="civilitenomDetenteur"/>
      <label>Numéro de carte </label><input type="text" class="form-control" formControlName="numero"
                                            maxlength="16"/><br/>
      <label>Date de validité </label><input type="date" class="form-control" formControlName="dateValidation"/>
      <label>Code secret </label><input type="text" class="form-control" formControlName="codeSecret"
                                        maxlength="3"/><br/>
    </div>
    <input type="checkbox" id="assurance" formControlName="assurance"/>
    <label for="assurance">Je souhaite souscrire à l'assurance annulation</label><br/>
    <button class="btn btn-primary w-100" style="margin-top:5%" type="submit" [disabled]="cbForm.invalid">Confirmer
      l'achat
    </button>
  </div>
</form>

